* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg-container {
    width: 600px;
    height: 600px;
    display: flex;
    justify-items: center;
    align-items: center;
}

svg {
    margin: auto;
}

#light {
    animation: stroke 2s linear infinite;
}

@keyframes stroke {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(550px);
    }
}